.container{
    padding-top: 20px;
    border-bottom: 1px solid #e8e7e7;
}

.astar-canvas .dice{
    height: 100px;
    padding: 10px;
    background-color: #d9efee;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border: 1px dashed #ccc;
}

.control-panel{
    display: flex;
    flex-direction: column;
}

.control-panel .settings .rows-cols{
    display: inline-block;
    width: 60px;
}

.control-panel .settings .set-rows-cols{
    margin-top: 5px;
}

.legend{
    margin-top: 10px;
}

.legend .fa,
.dice .fa{
    font-size: 20px;
}

.settings,
.elements,
.execute{
    margin-bottom: 10px;
}

.elements .item,
.execute .item,
.tutorial .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 5px 0;
}

footer{
    font-size: 11px;
    padding: 10px 0;
    text-align: center;
    color: #828282;
}
footer .f-row{
    margin: 2px 0;
}

a{
    text-decoration: none !important;
}

.popup{
    z-index: 9999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.popup .popup-content{
    width: 650px;
    background-color: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #ccc;

    position: fixed;
    top: 100px;
}
/* POPUP HEADER */
.popup .popup-content .popup-header{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup .popup-content .popup-header .title{
    font-size: 15px;
}

.popup .popup-content .popup-header .popup-close{
    text-align: right;
    cursor: pointer;
}

/* POPUP CONTENT */
.popup .popup-content .popup-body{
    padding: 10px;
}

/* POPUP FOOTER */
.popup .popup-content .popup-actions{
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row-reverse;
}
.popup .popup-content .popup-actions button{
    margin: 0 3px;
}
.popup ul{
    padding-left: 20px;
}

.rem-overflow{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
.set-overflow{
    overflow-x: auto !important;
    overflow-y: auto !important;
}